.font-size-10 {
  font-size: 0.625rem;
}
.font-size-12 {
  font-size: 0.75rem;
}
.font-size-13 {
  font-size: 0.8125rem;
}
.font-size-14 {
  font-size: 0.875rem;
}
.font-size-16 {
  font-size: 1rem;
}
.font-size-20 {
  font-size: 1.25rem;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-24 {
  font-size: 24px;
}
.font-weight-600 {
  font-weight: 600;
}
.fw-600 {
  font-weight: 600;
}
.lh-24 {
  line-height: 24px;
}
